*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  user-select: none;
  overscroll-behavior: none;

  @include media("<=tablet") {
    font-size: 10px;
    overflow-x: hidden;
  }
}

body {
  @extend %description-16;

  background: $color-black;
  color: $color-white;
  font-family: $font-poppins;
}

.page {
  opacity: 0;
}
