$color-black: #00040f;
$color-white: #ffffff;
$color-grey: #a6a6a7;
$color-dark-grey: #3f3e45;
$color-blue: #00f6ff;
$radial-gradient: radial-gradient(
  64.18% 64.18% at 71.16% 35.69%,
  #def9fa 0.89%,
  #bef3f5 17.23%,
  #9dedf0 42.04%,
  #7de7eb 55.12%,
  #5ce1e6 71.54%,
  #33bbcf 100%
);
$font-poppins: "Poppins";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
